@charset "utf-8";

main {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-family: "Theinhardt","NotoSans","Malgun Gothic","맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;
    letter-spacing: -.07em;
    word-spacing: 0.05em;
    line-height: 1.5;
    overflow: hidden;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    text-decoration: initial;
}

/* Header */
#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    background: white;
}
.moblie_header_inner {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.moblie_header_inner .logo {
    margin: 0 80px 0 106px;
}
.moblie_header_inner .logo img {
    width: 112px;
}
.moblie_header_inner .search img {
    width: 20px;
}
.pc_header_inner {
    display: none;
}

/* ================== 햄버거 아이콘 ==================== */
.header_line .hamburger {
    position: relative;
    height: 100%;
    cursor: pointer;
}
.hamburger #sideBar_open {
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -15px;
    padding: 5px;
    z-index: 2;
    cursor: pointer;
}
.hamburger #sideBar_open .icon_menu {
    position: relative;
    width: 23px;
    height: 18px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    background: 0;
    display: inline-block;
}
.hamburger #sideBar_open .icon_menu::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    border-top: 2px solid #999;
}
/* ================== /햄버거 아이콘 ==================== */

/* ================== 사이드 메뉴 ==================== */
/* Side MENU */
.side_cover {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 10;
    transition: all .4s;
    opacity: 0;
}

.side_bar {
    width: 100vw;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    overflow-y: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}
.side_header {
    opacity: 0;
    transition: all .4s;
    padding: 0 20px;
    width: 100vw;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 10;
}
.side_bar::before {
    transition: all .3s cubic-bezier(.56, .06, 0, .97);
}
.sideBox {
    height: 100%;
}
.side_header .orange_logo {
    display: inline-block;
    background: url('../images/main/sulwhasoo_orange_logo_220902.png') no-repeat center;
    background-size: contain;
    width: 112px;
    height: 40px;
    margin-top: 10px;
}
.side_header .close_btn {
    width: 24px;
    height: 24px;
    background-image: url('../images/main/icon/gnb_close.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
}
.side_header::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 59px;
    width: 100%;
    height: 1px;
    background-color: #eee;
}
.side_content {
    height: calc(100% - 60px);
    overflow-y: auto;
}
.nav_list {
    padding: 16px 0;
    letter-spacing: -1px;
    background-color: #fff;
}
.nav_list .nav_d1 {
    position: relative;
    z-index: 1;
    font-size: 23px;
    font-weight: 400;
}

/* depth 메뉴가 없는 메뉴 */
.nav_list .nav_d1 .no_depth_menu,
.nav_list .nav_d1 .depth_toggle {
    display: inline-block;
    width: 100%;
    padding: 20px 0 12px 20px;
    color: #333;
}
/* depth 메뉴가 있는 메뉴 */
.nav_list .nav_d1 .depth_toggle {
    /* + 이미지 */
    background: url('https://cdn-icons-png.flaticon.com/512/1828/1828925.png') no-repeat center right 20px/14px auto;
}
.nav_list .nav_d1.on .depth_toggle {
    /* - 이미지 */
    background: url('https://cdn-icons-png.flaticon.com/512/860/860821.png') no-repeat center right 20px/14px auto;
}

/* 2depth menu */
.nav_d1 .nav_d2_box {
    color: #333;
    font-size: 19px;
    background: #faf9f5;
    padding: 0 20px;
}
.nav_d1 .nav_d2_box .nav_d2 {
    position: relative;
    z-index: 10;
    line-height: 1.6;
}
.nav_d1 .nav_d2_box .nav_d2 a{
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav_d1 .nav_d2_box .nav_d2 .nav_d2_menu {
    border-bottom: 1px solid #eceae3;
}
.nav_d1 .nav_d2 .nav_d3_menu {
    /* + 이미지 */
    background: url('https://cdn-icons-png.flaticon.com/512/1828/1828925.png') no-repeat center right 0/14px auto;
}
.nav_d1 .nav_d2.on .nav_d3_menu {
    /* - 이미지 */
    background: url('https://cdn-icons-png.flaticon.com/512/860/860821.png') no-repeat center right 0/14px auto;
}

/* 3depth menu */
.nav_d2 .nav_d3_box {
    position: relative;
}
.nav_d2 .nav_d3_box .nav_d3 {
    position: relative;
    z-index: 10;
    line-height: 1.6;
    font-size: 16px;
}
.nav_d2 .nav_d3_box .nav_d3 a {
    position: relative;
    display: block;
    padding: 8px 0 8px 25px;
    color: #333;
}
/* 4depth menu */
.nav_d4_box .nav_d4 {
    position: relative;
    z-index: 10;
    line-height: 1.6;
    font-size: 15px;
}
.nav_d4_box .nav_d4 a {
    position: relative;
    display: block;
    padding: 2px 0 2px 33px;
    color: #888;
}
.nav_list>li.noDepth a {
    background-image: none;
}
.b500 {
    /* 영문 글자 두께 */
    font-weight: 600;
}

/* 사이드메뉴 하단 */
.other_info {
    padding-top: 12px;
    background: #333;
}
.other_info ul {
    padding-bottom: 13px;
}
.other_info ul li {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    line-height: 1.4;
}
.other_info ul li:first-child a {
    border-bottom: 1px solid #fff;
}
.other_info .mobile_select_language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18px 20px;
    border-top: 1px solid #424242;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.other_info .mobile_select_language .language_select img {
    padding: 4px 0px 0px 4px;
}
/* ================== /사이드 메뉴 ==================== */


/* purpose */
.purpose {
    width: 100%;
    background-image: url(../images/about/brand_belief_visual_img_mo_kr_230511.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 37.6vw;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: max(11px,5.3333333333vw);
    line-height: 1;
}
@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.purpose p {
    animation: fadeup 1s ease-out;
}
.purpose .title {
    line-height: 1.25;
    margin: 0 4%;
    padding-top: 32.6666666667vw;
    word-spacing: 0.27em;  
}
.purpose .title span {
    word-spacing: 0.45em;
}
.purpose .title::after{
    content: "";
    display: block;
    background: #fff;
    margin: 0 auto;
    width: 0.5333333333vw;
    height: 9.3333333333vw;
    margin-top: 10vw;
}
.purpose .subtitle {
    font-size: max(11px,5.8666666667vw);
    margin-top: 11.6vw;
}
.purpose .mtext {
    font-size: max(11px,4.2666666667vw);
    letter-spacing: -.02em;
    font-weight: 800;
    margin-top: 5.4666666667vw;
}
.purpose .stext {
    line-height: 1.4615384615;
    font-size: max(11px,3.4666666667vw);
    letter-spacing: -.02em;
    margin-top: 4.2666666667vw;
}
.purpose .stext:last-child {
    margin-top: 1.8666666667vw;
}


/* section common*/
.content_wrap .fixed {
    position: fixed;
    top: 0;
    z-index: 9;
}
.section_inner {
    max-width: 1920px;
    margin: 0 auto;
}
.section_body {
    margin: 0 4.5333333333vw;
    text-align: left;
}
.section_text h1{
    font-size: max(11px,9.8666666667vw);
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #171717;
}
.section_text h2 {
    line-height: 1.634;
    margin-left: 0.8vw;
    margin-top: 3.6vw;
    letter-spacing: -.02em;
    font-size: max(11px,3.2vw);
    color: #171717;
}
.section_text h2 span {
    display: block;
    margin-top: 1.775147929%;
}
.section_text h2 br {
    display: inline-block;
}
.section_img {
    width: 89.3333333333vw;
    margin-top: 8.8vw;
    margin-left: 0.8vw;
    margin-right: auto;
}
.section_img img {
    width: 100%;
    max-width: 100%;
    margin-top: -1px;
}


/* navagition */
.content_wrap{
    position: relative;
}

.navigation_box{
    min-width: 1920px;
    margin: 0 auto;
    display: none;
}
.navigation_box .navigation {
    margin: 3.125vw;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 9;
}
.navigation_box .navigation li{
    padding-bottom: 0.8333333333vw;
    padding-top: 0.9895833333vw;
    border-top-width: 0.0520833333vw;
    font-size: max(11px,.8333333333vw);
    width: 12.5vw;
    letter-spacing: .05em;
    font-weight: 700;
    color: #171717;
    border-top: 1px solid #d1d1d1;
}
.navigation_box .navigation li.change {
    color: #fff;
    border-top: 1px solid #5c5c5c;
    transition: all .1s;
}

.navigation_box .navigation li a.active {
   color: #e86e25;
   transition: all 0.3s;
}


/* belief */
.content_wrap .belief h1{
    padding-top: 31.4666666667vw;
}


/* ingredient */
.content_wrap .ingredient {
    padding: 6.6666666667vw 0;
}
.content_wrap .ingredient h1{
    margin-top: 6.6666666667vw;
}


/* innovation */
.content_wrap .innovation {
    padding: 6.6666666667vw 0;
}
.content_wrap .innovation h1{
    margin-top: 6.2666666667vw;
}
.content_wrap .innovation h2 {
    line-height: 1.622;
}
.content_wrap .innovation .section_img {
    margin-top: 9.3333333333vw;
}


/* created */
.content_wrap .created {
    padding: 6.6666666667vw 0;
}
.content_wrap .created .section_body {
    margin-right: 0;
}
.content_wrap .created h1 {
    line-height: 1.1891891892;
    margin-top: 5.3333333333vw;
}
.content_wrap .created h2 {
    margin-top: 2.8vw;
}
.content_wrap .created .swiper_list {
    margin-top: 8.8vw;
    margin-left: 0.8vw;
    display: flex;
}
.content_wrap .created .swiper_list .swiper-slide{
    width: 61.3333333333vw !important;
}
.content_wrap .created .swiper_list .swiper-slide:not(:last-child) {
    margin-right: 4vw;
}
.content_wrap .created .swiper_list .swiper-slide:last-child{
    margin-right: 4.5333333333vw;
}


/* journey */

.content_wrap .journey {
    position: relative;
    margin-top: 32vw;
    width: 100%;
    background-color: #333;
}

.content_wrap .journey .sticky {
    min-height: 100vh;
}
.content_wrap .journey .section_contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.content_wrap .journey .section_header{
    text-align: left;
    margin: 0 2.5544703231vh;
}
.content_wrap .journey p {
    font-size: 6.4815vh;
    margin-top: 0;
    color: #fff;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}
.content_wrap .journey .section_body {
    margin-right: 0;
    margin-left: 0;
}
.content_wrap .journey .section_body::before {
    content: none;
    display: block;
    width: 32.1354166667vw;
    height: 100%;
    background-image: url(https://amc.apglobal.com/image/384224417642/image_j63lk3qthd5f19oc8nvjlamg5o/-FPNG/brand_belief_journey_item_pc_kr_230511.png);
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-left: 0;
}

.content_wrap .journey .horizontal_scroll {
    overflow: hidden;
}

.content_wrap .journey .swiper_list {
    margin-left: 0;
    padding-bottom: 5.2083333333vw;
    will-change: transform;
    display: flex;
}
.content_wrap .journey .swiper_list .swiper_list_item {
    height: 65.4395191585vh;
    margin-left: 3.0052592036vh;
    padding-right: 5.2592036063vh;
    position: relative;
    width: auto;
    flex: 0 0 auto;
}
.content_wrap .journey .swiper_list .swiper_list_item img {
    width: 100%;
    margin-top: -1px;
}

.content_wrap .journey .swiper_list .swiper_list_item .journey_img{
    margin-left: 0;
    margin-top: 8.8vw;
}
.content_wrap .journey .swiper_list .swiper_list_item .text_wrap {

    bottom: 0;
    width: 100%;
    position: relative;
}
.content_wrap .journey .swiper_list .swiper_list_item .text_wrap .text_y {
    font-size: 5.860255447vh;
    color: #fff;
    letter-spacing: 0;
    font-weight: 700;
}
.content_wrap .journey .swiper_list .swiper_list_item .text_wrap .text_m {
    letter-spacing: -.02em;
    color: #fff;
    font-weight: 800;
    font-size: 2.8549962434vh;
    margin-top: 1.5026296018vh;
}
.content_wrap .journey .swiper_list .swiper_list_item .text_wrap .text_s {
    font-size: 1.9534184823vh;
    margin-top: 0.3005259204vh;
    margin-left: 0;
    line-height: 1.634;
    letter-spacing: -.02em;
    color: #fff;
}

.content_wrap .journey .swiper_list .list_item_01 .journey_img{
    width: 26.5965439519vh;
    margin-top: 18.9331329827vh;
    padding-left: 0;
}
.content_wrap .journey .swiper_list .list_item_01 .text_wrap {
    left: 17.7310293013vh;
    top: -3.1555221638vh;
    right: 0;
}
.content_wrap .journey .swiper_list .list_item_02 {
    text-align: right;
}
.content_wrap .journey .swiper_list .list_item_02 .journey_img{
    width: 28.5499624343vh;
}
.content_wrap .journey .swiper_list .list_item_02 .text_wrap{
    width: 100%;
    top: 2.6296018032vh;
    right: 0;
    left: auto;
    bottom: 0;
}
.content_wrap .journey .swiper_list .list_item_03 .journey_img{
    width: 35.4620586026vh;
    margin-top: 24.192336589vh;
}
.content_wrap .journey .swiper_list .list_item_03 .text_wrap{
    top: -1.8031555222vh;
    left: 9.3163035312vh;
}
.content_wrap .journey .swiper_list .list_item_04 .journey_img{
    width: 43.4259954921vh;
    margin-top: 10.2178812923vh;
}
.content_wrap .journey .swiper_list .list_item_04 .text_wrap{
    top: 2.7798647633vh;
}
.content_wrap .journey .swiper_list .list_item_05 .journey_img{
    width: 26.5965439519vh;
    margin-top: 14.9511645379vh;
}
.content_wrap .journey .swiper_list .list_item_05 .text_wrap{
    top: 3.0803906837vh;
}
.content_wrap .journey .swiper_list .list_item_06 .journey_img{
    width: 35.4620586026vh;
    margin-top: 5.9353869271vh;
}
.content_wrap .journey .swiper_list .list_item_06 .text_wrap{
    top: -2.4042073629vh;
    left: 7.2126220887vh;
}

.content_wrap .journey .swiper_list .list_item_07 .journey_img{
    width: 26.5965439519vh;
    margin-top: 16.5289256198vh;
}
.content_wrap .journey .swiper_list .list_item_07 .text_wrap{
    top: -6.8369646882vh;
    left: 22.0886551465vh;
}
.content_wrap .journey .indicator {
    margin-left: 3.0052592036vh;
    margin-top: 3.0052592036vh;
    width: 89.3333333333vw;
    height: 0.4507888805vh;
    background: #5c5c5c;
}
.content_wrap .journey .indicator_bar {
    height: 0.4507888805vh;
    background: #fff;
}


/* Footer */
#footer {
    margin-top: 28px;
    padding: 15px 0 0;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}
.footer_container {
    display: none;
}
#footer .sns_area {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
    min-width: 240px;
    height: 55px;
}
#footer .sns_area article {
    padding-left: 10px;
    align-self: center;
}
.footer_toggle {
    position: relative;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 15.555vw;
    font-size: 3.333vw;
    font-weight: 500;
    color: #767676;
    letter-spacing: -.02em;
    cursor: pointer;
    justify-content: space-between;
}
.footer_info {
    background-color: #f8f7f5;
}
.footer_toggle i {
    font-style: normal;
}
.footer_toggle strong {
    font-weight: 600;
}
.toggle_btn {
    transition: all .4s;
    transform: rotate(0);
}
.toggle_btn::after {
    display: block;
    content: '';
    background: url('../images/main/icon/footer_slidedown_arrow.png') no-repeat center;
    transition: all .4s;
    width: 7.166vw;
    padding: 0 0 0 15px;
    height: 15.555vw;
    background-size: 4.166vw auto;
}
.toggle_btn.is_open {
    transition: all .4s;
    transform: rotate(180deg);
}
.toggle_info {
    height: 159px;
    transition: height .3s;
}
.inner_info_container {
    border-top: 1px solid #eee;
    padding: 4.444vw 15px 8.888vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #f8f7f5;
}

/* First inner_info */
.inner_info {
    width: calc(100% - 13.333vw);
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}
.inner_info span {
    padding-right: 4.444vw;
    font-size: 3.333vw;
    position: relative;
    color: #222;
    line-height: 2;
    cursor: pointer;
}
.inner_info span:not(:last-child)::after {
    display: block;
    content: '';
    position: absolute;
    right: 2.222vw;
    height: 3.333vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    background-color: #999;
}
.inner_info span strong {
    font-weight: bold;
}

/* Second inner_info */
.inner_info + .inner_info {
    margin-top: 4.166vw;
}
.inner_info + .inner_info p,
.inner_info + .inner_info span {
    color: #888;
    font-size: 3.333vw;
    line-height: 2;
}

/* Footer Mark */
.footer_mark {
    width: 13.333vw;
}
.footer_mark img {
    max-width: 100%;
}




@media screen and (min-width:751px) {
    .purpose {
        width: 100%;
        font-family: "Theinhardt","NotoSans","Malgun Gothic","맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;
        background-image: url(../images/about/brand_belief_visual_img_pc_kr_230511.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 8.3854166667vw;
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: max(11px,2.9166666667vw);
        line-height: 1;
    }
    .purpose .title {
        line-height: 1.25;
        margin: 0 4%;
        padding-top: 8.4375vw;
        word-spacing: 0.27em;
        letter-spacing: .07em;
    }
    .purpose .title::after{
        content: "";
        display: block;
        background: #fff;
        margin: 0 auto;
        width: 0.15625vw;
        height: 3.6458333333vw;
        margin-top: 2.5vw;
    }
    .purpose .subtitle {
        margin-top: 3.59375vw;
        font-size: max(11px,2.0833333333vw);
        letter-spacing: .05em;
    }
    .purpose .mtext {
        font-size: max(11px,1.5625vw);
        letter-spacing: -.02em;
        font-weight: 800;
        margin-top: 2.1875vw;
    }
    .purpose .stext {
        line-height: 1.5;
        font-size: max(11px,1.0416666667vw);
        letter-spacing: -.02em;
        margin-top: 1.25vw;
    }
    .purpose .stext:last-child {
        margin-top: 0.7291666667vw;
    }

    /* section common*/
    .section_body {
        margin: 0 12.5vw 0 29.8958333333vw;
        text-align: left;
    }
    .section_text h1{
        font-size: max(11px,3.6458333333vw);
        margin-top: 6.6666666667vw
    }
    .section_text h2 {
        line-height: 1.6666666667;
        margin-left: 0.2604166667vw;
        margin-top: 0.9375vw;
        letter-spacing: -.02em;
        font-size: max(11px,.9375vw);
        color: #171717;
    }
    .section_text span {
        display: block;
        margin-top: 1.775147929%;
    }
    .section_text .mo-margin {
        margin: 0;
    }
    .section_text br {
        display: inline-block;
    }
    .section_text .mo-only {
        display: none;
    }
    .section_img {
        width: 57.2916666667vw;
        margin-top: 2.7604166667vw;
        margin-left: 0.3125vw;
        margin-right: auto;
    }
    .section_img img {
        width: 100%;
        max-width: 100%;
        margin-top: -1px;
    }


    /* navagition */
    .navigation_box{
        display: block;
    }

    /* belief */
    .content_wrap .belief h1{
        margin-top: 0;
        padding-top: 6.6666666667vw;
    }

    /* ingredient */
    .content_wrap .ingredient {
        padding: 2.6041666667vw 0;
    }
    .content_wrap .ingredient h1{
        margin-top: 3.6458333333vw;
    }

    /* innovation */
    .content_wrap .innovation {
        padding: 2.6041666667vw 0;
    }
    .content_wrap .innovation h1{
        margin-top: 3.59375vw;
    }
    .content_wrap .innovation h2 {
        line-height: 1.6666666667;
    }
    .content_wrap .innovation .section_img {
        margin-top: 2.7604166667vw;
    }

    /* created */
    .content_wrap .created {
        padding: 2.6041666667vw 0;
    }
    .content_wrap .created .section_body {
        margin-right: 12.5vw;
    }
    .content_wrap .created h1 {
        line-height: 1;
        margin-top: 3.59375vw;
    }
    .content_wrap .created h2 {
        margin-top: 2.8vw;
    }
    .content_wrap .created .swiper_list {
        margin-top: 2.7083333333vw;
        margin-left: 0.3125vw;
        display: flex;
    }
    .content_wrap .created .swiper_list .swiper-slide{
        width: 17.9166666667vw !important;
    }
    .content_wrap .created .swiper_list .swiper-slide:not(:last-child) {
        margin-right: 1.7708333333vw;
    }
    .content_wrap .created .swiper_list .swiper-slide:last-child{
        margin-right: 0;
    }

    /* journey */
    .content_wrap .journey {
        margin-top: 13.5416666667vw;
    }

    .content_wrap .journey .section_header {
        margin-right: 12.5vw;
        margin-left: 29.8958333333vw;
    }
    .content_wrap .journey p {
        font-size: max(11px,3.6458333333vw);
        margin-top: 0;
    }
    .content_wrap .journey .section_body {
        margin-right: 0;
        margin-left: 0;
    }
    .content_wrap .journey .section_body::before {
        content: "";
        margin-left: 0;
        width: 32.1354166667vw;
    }
    
    .content_wrap .journey .swiper_list {
        padding-bottom: 5.2083333333vw;
        margin-left: 0.3645833333vw;
    }

    .content_wrap .journey .swiper_list .swiper_list_item {
        height: 32.03125vw;
        padding-right: 4.6875vw;
        margin-left: 0;
        position: relative;
        width: auto;
        flex: 0 0 auto;
    }
    .content_wrap .journey .swiper_list .swiper_list_item .journey_img{
        margin-top: 2.7604166667vw;
        width: 57.2916666667vw;
        margin-left: 0;
    }

    
    .content_wrap .journey .swiper_list .swiper_list_item .text_wrap {
        top: -1.71875vw;
        left: 39.21875vw;
    }
    .content_wrap .journey .swiper_list .swiper_list_item .text_wrap .text_y {
        font-size: max(11px,3.125vw);
    }
    .content_wrap .journey .swiper_list .swiper_list_item .text_wrap .text_m {
        font-size: max(11px,1.5625vw);
        margin-top: 0.8854166667vw;
    }
    .content_wrap .journey .swiper_list .swiper_list_item .text_wrap .text_s {
        font-size: max(11px,1.0416666667vw);
        margin-top: 0.15625vw;
        margin-left: 0;
        line-height: 1.634;
        letter-spacing: -.02em;
        color: #fff;
    }

    .content_wrap .journey .swiper_list .list_item_01 .journey_img{
        /* width: 14.0625vw; */
        padding-left: 29.84375vw;
        margin-top: 10.5729166667vw;
        margin-right: 0;
        width: 44vw;
    }

    .content_wrap .journey .swiper_list .list_item_01 .text_wrap {
        top: -1.71875vw;
        left: 39.21875vw;
        
    }

    .content_wrap .journey .swiper_list .list_item_02 .journey_img{
        width: 15.1041666667vw;
    }
    .content_wrap .journey .swiper_list .list_item_02 .text_wrap{
        width: 100%;
        top: 1.4583333333vw;
        right: 0;
        left: auto;
        bottom: 0;
    }
    .content_wrap .journey .swiper_list .list_item_03 .journey_img{
        width: 18.75vw;
        margin-top: 13.1770833333vw;
    }
    .content_wrap .journey .swiper_list .list_item_03 .text_wrap{
        top: -1.1458333333vw;
        left: 4.7395833333vw;
    }
    .content_wrap .journey .swiper_list .list_item_04 .journey_img{
        width: 22.9166666667vw;
        margin-top: 6.9791666667vw;
    }
    .content_wrap .journey .swiper_list .list_item_04 .text_wrap{
        top: 1.4583333333vw;
        left: 0;
    }
    .content_wrap .journey .swiper_list .list_item_05 .journey_img{
        width: 14.0625vw;
        margin-top: 9.53125vw;
    }
    .content_wrap .journey .swiper_list .list_item_05 .text_wrap{
        top: 1.4583333333vw;
        left: 0;
    }
    .content_wrap .journey .swiper_list .list_item_06 .journey_img{
        width: 18.75vw;
        margin-top: 3.28125vw;
    }
    .content_wrap .journey .swiper_list .list_item_06 .text_wrap{
        top: -1.1458333333vw;
        left: 3.125vw;
    }
    .content_wrap .journey .swiper_list .list_item_07 {
        padding-right: 23.4375vw;
    }

    .content_wrap .journey .swiper_list .list_item_07 .journey_img{
        width: 14.0625vw;
        margin-top: 6.40625vw;
    }
    .content_wrap .journey .swiper_list .list_item_07 .text_wrap{
        top: -3.8020833333vw;
        left: 11.5625vw;
    }
    .content_wrap .journey .indicator {
        margin-left: 30.2083333333vw;
        margin-top: 2.0833333333vw;
        width: 57.2916666667vw;
        height: 0.2083333333vw;
        background: #5c5c5c;
    }
    .content_wrap .journey .indicator_bar {
        height: 0.2083333333vw;
        background: #fff;
    }

    /* Footer */
 .footer_toggle {
    /* 수정 */
    height: 56px;
    font-size: 1.173vw;
    padding: 0 30px;
    /* 추가 */
    justify-content: space-between;
    cursor: pointer;
}
.toggle_btn::after {
    display: block;
    content: '';
    background: url('../images/main/icon/footer_slidedown_arrow.png') no-repeat center;
    transition: all .4s;
    width: 15px;
    height: 56px;
    padding: 0 0 0 30px;
    background-size: 15px auto;
}
.toggle_info {
    height: 103px;
    transition: height .3s;
}
.inner_info_container {
    padding: 16px 30px 0 32px;
}

/* First inner_info */
.inner_info {
    width: calc(100% - 48px);
}
.inner_info span {
    padding-right: 3.444vw;
    font-size: 1.173vw;
}
.inner_info span:not(:last-child)::after {
    right: 15px;
    top: 50%;
    height: 1.173vw;

}

/* Second inner_info */
.inner_info + .inner_info {
    margin-top: 15px;
}

.inner_info + .inner_info p,
.inner_info + .inner_info span {
    padding-right: 15px;
    font-size: 1.173vw;
}

/* Footer Mark */
.footer_mark {
    width: 48px;
    cursor: pointer;
}

.footer_container {
    display: none;
}
}

@media screen and (min-width:1024px){
/* Side MENU */
.side_cover {
    display: none;
}
.moblie_header_inner {
    display: none;
}

/* ======== PC Header ======== */
.pc_header_inner  {
    display: block;
}
#header {
    padding: 20px 0 0 0;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    transition: all .3s;
    cursor: pointer;
}
.w1440 {
    width: 1440px;
    margin: 0 auto;
}
.w1100 {
    width: 1100px;
    margin: 0 auto;
}
.pc_lnb {
    position: relative;
    z-index: 10;
    display: flex;
    max-width: 1100px;
    height: 78px;
    justify-content: space-between;
    color: black;
    font-size: 15px;
}
.pc_lnb .language_select img {
    padding: 3px 0 0 6px;
}
.pc_lnb .pc_logo {
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 5;
    display: table;
    height: 60%;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
}
.pc_lnb .pc_logo a {
    display: table-cell;
    width: 100%;
    padding-top: 1px;
    vertical-align: middle;
}
.pc_lnb .pc_logo img {
    width: 166px;
}
.search_area span {
    padding: 0 15px;
    font-size: 15px;
    line-height: 1.5;
    position: relative;
}
.search_area span:nth-child(2):after {
    content: '|';
    display: inline-block;
    position: absolute;
    top: 42%;
    left: -2px;
    transform: translateY(-50%);
}
.search_area span:nth-child(3):before {
    content: '|';
    display: inline-block;
    position: absolute;
    top: 42%;
    left: -2px;
    transform: translateY(-50%);
}
.search_area span img {
    margin-top: 3px;
    width: 17px;
    height: 17px;
}

/* ========= GNB MENU ========= */
.pc_nav {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 7%;
}
.pc_gnb_menu {
    display: flex;
    justify-content: space-between;
    max-width: 772px;
    margin: 0 auto;
}

.pc_gnb_menu .pc_nav_d1 {
    color: #666;
    font-size: 16px;
}
.hover_border {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #eaeaea;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
  }

#header:hover .d1_menu {
    color: #666;
}

/* ===== 1depth MENU 호버시 css ===== */
.pc_nav_d1 .d1_menu {
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
}
.pc_nav_d1 .d1_menu::after {
    position: absolute;   
    left: -2px;
    right: -2px;
    bottom: 0;
    content: '';
    height: 2px;
    background: #000;
    opacity: 0;
    transition: opacity .3s linear;
}
.pc_nav_d1:hover .d1_menu::after {
    opacity: 1;
}

/* ===== 2depth MENU css ===== */
.pc_nav_d2_box {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 3px 0;
    background-color: #fff;
}
.pc_nav_d2_container {
    max-width: 772px;
    margin: 0 auto;
    display: flex;
    text-align: left;
}
.pc_nav_d2_container .pc_nav_d2 {
    color: #888;
    font-size: 15px;
}
.d2_box1, .d2_box2, .d2_box3, .d2_box4  {
    justify-content: center;
}
.d2_box1 li, .d2_box2 li, .d2_box3 li, .d2_box4>.pc_nav_d2  {
    padding: 9px 15px 6px;
}
.d2_box2 {
    width: 400px;
    transform: translateX(34%);
}
.d2_box3 {
    width: 500px;
    transform: translateX(37.5%);
}
.d2_box4 {
    padding-top: 22px;
    padding-bottom: 30px;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.5;
}
.d2_box4 .pc_nav_d2 {
    font-size: 15px;
    line-height: 2.5;
    font-weight: 600;
    color: black;
}
.pc_nav_d3_box .pc_nav_d3 a {
    padding: 9px 15px 6px 0;
    color: #888;
}
.pc_nav_d2:hover .d2_hover,
.pc_nav_d3 a:hover {
    font-weight: bold;
    color: black;
}

  .products_wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
  }

  /* Footer */
#footer .sns_area, .footer_info {display: none;}

#footer {
    position: relative;
    margin-top: 80px;
    padding-bottom: 37px;
    border-top: 1px solid #eee;
    font-family: NotoSans, sans-serif;
    font-size: 1.2em;
    letter-spacing: .03em;
}
#footer::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
}
.footer_container {
    display: block;
    position: relative;
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}
.footer_links {
    display: flex;
    width: 100%;
    max-width: 820px;
    height: 55px;
    vertical-align: top;
    cursor: pointer;
}
.footer_links_txt {
    display: flex;
    font-size: 14px;
    color: #555;
}
.footer_links_txt p {
    padding: 3px 17px 3px 0;
    position: relative;
}
.footer_links_txt p:not(:first-child) {
    margin-left: 20px;
}
.footer_links_txt p:not(:last-child):after {
    display: inline-block;
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    width: 1px;
    height: 13px;
    background-color: #c9c9c9;
    transform: translateY(-60%);
}
.footer_links_txt p strong {
    font-weight: bold;
}
.footer_img {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 50px;
    top: 0;
    min-width: 240px;
    height: 55px;
    cursor: pointer;
}
.footer_img .access_icon img {
    width: 42px;
}
.footer_img .footer_sns {
    padding-left: 20px;
}
.footer_img .footer_sns article {
    display: inline-block;
    width: 40px;
    height: 30px
}
.footer_img .footer_sns img {
    width: 30px;
    height: 30px;
}

.footer_container .pc_footer_info {
    width: 100%;
    max-width: 820px;
    padding-top: 7px;
    height: 36px;
}
.pc_footer_info .pc_cs_info {
    position: relative;
    display: inline-block;
    padding: 3px 21px 3px 0;
    vertical-align: top;
    font-size: 14px;
    color: #555;
}
.footer_copyright {
    height: 20px;
    font-size: 13px;
    color: #767676;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
}
.footer_copyright p i {
    font-style: normal;
}
.footer_copyright p strong {
    font-weight: bold;
}
}