@charset "utf-8";
/* 전체 공통 */
body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 62.5%;
    word-spacing: 0.05em;
    letter-spacing: -.07em;
    line-height: 1.5;
    overflow-x: hidden; 
}
strong {
    /* Font */
    font-weight: 700;
}
h3 {
    /* Font */
    text-align: center;
    font-family: 'Theinhardt';
    font-size: 6.4vw;
    font-weight: 700;
    color: #4d3a2d;
    letter-spacing: 0.267vw;
    line-height: 1.3;
}

/* Show Up (Fade-up) Animation */
.animate {
    position: relative;
    /* Effects */
    animation: fadeUp 0.5s ease-in-out forwards;
}

@keyframes fadeUp {
    from {
        bottom: -50px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}
.animate_none {
    position: relative;
    /* Effects */
    animation: fadeDown 0.5s ease-in-out forwards;
}

@keyframes fadeDown {
    from {
        bottom: 0;
        opacity: 1;
    }
    to{
        bottom: -50px;
        opacity: 0;
    }
}

/* Main */
.main_main {
    width: 100%;
    height: calc(100vh - 60px);
    overflow-x: hidden;
    /* Font Common */
    color: #fff;
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* Position */
    position: relative;
}
/* section1 & section2 common */
.sec_1, 
.sec_2 {
    width: 100%;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec_1 h2, 
.sec_2 h2 {
    width: 100%;
    padding-bottom: 1.042vw;
    /* Font */
	font-family: 'Theinhardt';
    text-align: center;
    text-shadow: #000 0.267vw 0 2vw;
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: 0.347vw;
    line-height: 1.2;
}
.p_web {
    display: none;
}
.sec_1 div,
.sec_2 div {
    width: 100%;
    padding-top: 6.667vw;
    text-align: center;
}
.sec_1 div a,
.sec_2 div a {
    display: inline-block;
    padding-right: 6.933vw;
    /* Font */
    font-size: 3.2vw;
    text-shadow: #000 2px 0 1.733vw;
    /* Background */
    background-image: url('../images/flagship/icon/detail_arrow_mobile.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 6.933vw auto;
}
.sec_1 div span,
.sec_2 div span {
    border-bottom: 1px solid #fff;
    display: inline-block;
}
.sec_1::before,
.sec_2::before {
    content: " ";
    width: 120vw;
    height: calc((100vh - 60px)/2);
    /* Background */
    background-repeat: no-repeat;
    background-size: cover;
    /* Position */
    position: absolute;
    z-index: -999;
    /* Effects */
    transition: all 2s;
}
/* Section1 */
.sec_1::before { 
    /* Background */
    background-image: url('../images/flagship/main/intro_dosan_mobile.jpg');
    background-position: left center;
    /* Effects */
    animation: dosanAni .5s ease-in-out forwards;
}

@keyframes dosanAni {
    from {
        right: 0;
    }
    to{
        right: -20vw;
    }
}
/* Section2 */
.sec_2::before { 
    /* Background */
    background-image: url('../images/flagship/main/intro_bukchon_mobile.jpg');
    background-position: right center;
    /* Position */
    bottom: 0;
    /* Effects */
    animation: bukchonAni .5s ease-in-out forwards;
}

@keyframes bukchonAni {
    from {
        left: 0;
    }
    to{
        left: -20vw;
    }
}

/* PC 1024 ~ 1440px */
@media only all and (min-width: 1024px) {
    /* Main */
    .main_main {
        height: calc(100vh - 160px);
        overflow-x: visible;
        /* Flex */
        flex-wrap: wrap;
    }
    /* section1 & section2 common */
    .sec_1, 
    .sec_2 {
        width: 50%;
        height: 100%;
        /* Effects */
        transition: all 2s;
    }
    .sec_1 h2, 
    .sec_2 h2 {
        /* Font */
        font-size: 4.167vw;
    }
    .p_web {
        display: block;
        width: 100%;
        padding-bottom: 3.646vw;
        /* Font */
        text-align: center;
        font-size: 1.389vw;
        line-height: 1.5;
        text-shadow: #000 2px 0 15px;
        text-size-adjust: 100%;
    }
    .sec_1 div,
    .sec_2 div {
        padding-top: 0;
    }
    .sec_1 div a,
    .sec_2 div a {
        padding-right: 3.611vw;
        /* Font */
        font-size: 1.389vw;
        text-size-adjust: 100%;
        /* Background */
        background-position: 100% 50%;
        background-size: 3.611vw auto;
    }
    .sec_1::before,
    .sec_2::before,
    .sec_1::after,
    .sec_2::after {
        content: " ";
        width: 50vw;
        height: 100%;
        /* Position */
        position: absolute;
        z-index: -999;
        /* Effects */
        transition: all 2s;
    }
    .text_cover {
        transition: all 0.5s;
    }
    .sec_1::after,
    .sec_2::after {
        /* Background */
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        
    }
    /* Section1 */
    .sec_1::before { 
        /* Background */
        background-image: url('../images/flagship/main/intro_dosan.jpg');
        position: absolute;
        left: 0;
        /* Effects */
        animation: none;
    }
    .sec_1::after{
        left: 0;
    }
    
    /* Section2 */
    .sec_2::before { 
        /* Background */
        background-image: url('../images/flagship/main/intro_bukchon.jpg');
        /* 포지션 */
        position: absolute;
        right: 0;
        /* Effects */
        animation: none;
    }
    .sec_2::after {
        right: 0;
    }

    /* Hover Effects */
    .main_main:hover section {
        width: 82%;
    }
    .main_main:hover section::before{
        width: 82vw;
        z-index: -1;
    }
    .main_main:hover section:not(:hover){
        width: 18%;
    }
    .main_main:hover section:not(:hover)::before{
        width: 50vw;
        z-index: -999;
        transition: all 1s;
    }
    .main_main:hover section:not(:hover).sec_1::before{
        background-position: left -5vw bottom;
    }
    .main_main:hover section:not(:hover).sec_2::before{
        background-position: right -5vw bottom;
    }
    .main_main:hover section:not(:hover)>.text_cover{
        opacity: 0;
    }
    .main_main:hover section:not(:hover)::after{
        background-color: rgba(0, 0, 0, 0.3);
    }
    
}

/* PC over 1440px */
@media only all and (min-width: 1441px) {
    /* section1 & section2 common */
    .sec_1 h2, 
    .sec_2 h2 {
        /* Font */
        font-size: 60px;
    }
    .p_web {
        /* Font */
        font-size: 20px;
    }
    .sec_1 div a,
    .sec_2 div a {
        padding-right: 52px;
        /* Font */
        font-size: 20px;
        /* Background */
        background-position: right center;
        background-size: contain;
    }
}
