@charset "utf-8";
/* 전체 공통 */
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* header 임시 */
header{
    width: 100%;
    height: 60px;
}
/* Main */
.main_dosan {
    width: 100%;
    overflow-x: hidden;
    /* Font Common */
    color: #fff;
}
.sec_1 div,
.sec_2 div {
    padding-top: 0;
}
/* section1 */
.sec_1 {
    width: 100%;
    height: 120vw;
    /* Position */
    position: relative;
    z-index: 0;
}
.sec_1::before {
    height: calc(100% + 60px);
    /* Background */
    background-image: url('../images/flagship/dosan/section1_dosan_mobile.jpg');
    background-position: center;
    transform: scale(1.1);
    /* Position */
    top: -60px;
    animation: pageDosanAni 1.5s forwards;
}
@keyframes pageDosanAni {
    from{
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}
.sec_1 h2 {
    padding-bottom: 23.333vw;
    /* Font */
    font-size: 6.667vw;
    text-shadow: #222 0.267vw 0 2vw;
    letter-spacing: 0.667vw;
    line-height: 1.5;    
}
.sec_1 span {
    /* Font */
    font-size: 16px;
    font-family: 'Theinhardt';
    letter-spacing: 1px;
    /* Position */
    position: absolute;
    left: 50%;
    bottom: 7.237vw;
}
.sec_1 span::before {
    content: " ";
    width: 5.067vw;
    height: 5.067vw;
    background-color: transparent;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    /* Position */
    position: absolute;
    left: -2.5335vw;
    top: -2.5335vw;
}
.sec_1 span i {   
    width: 1px !important;
    height: 1px !important;
    overflow: hidden;
    /* Position */
    position: absolute;
    z-index: -1; 
}

/* Section2 */
.sec_2 {
    display: block;
}
.sec_2::before {
    content: none;
}

/* Section2 1st */
.sec_2_first {
    width: 100%;
    height: 48vw;
    /* Background */
    background-image: url('../images/flagship/dosan/section2_1st_bgc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Font */
    font-size: 3.733vw;
    color: #5a443b;
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec_2_first p:first-child {
    display: none;
}
.sec_2_first p:nth-child(2),
.sec_2_first p:last-child {
    padding-top: 1vw;
}
.sec_2_first p:last-child {
    font-weight: 300;
}

/* Section2 2nd */
.sec_2_second {
    background-color: #fcf5ef;
}
.sec_2_second>h3 {
    padding-top: 9.867vw;
    margin-bottom: 7.333vw;
    opacity: 0;
}
.video_play_btn {
    width: 100%;
    height: 56.267vw;
    cursor: pointer;
    /* Background */
    background-image: url('../images/flagship/dosan/video_thumbnail_dosan.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Position */
    position: relative;
}
.video_play_btn::after {
    content: " ";
    width: 10.667vw;
    height: 10.667vw;
    box-shadow: 0px 0px 0.515vw 0px rgb(0 0 0 / 40%);
    border-radius: 50%;
    /* Background */
    background-image: url('../images/flagship/icon/play_white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.iframe_video {
    height: 56.267vw;
    /* Display None First than Diaply Block After Click video_play_btn */
    display: none;
}
.explanation {
    height: 28vw;
    padding: 4vw !important;
    background-color: #fcf5ef;
    overflow-y: scroll;
    /* Font */
    font-size: 3.2vw;
    color: #74675e;
    text-align-last: left;
}
.explanation>.explanation_text>h4 {
    /* Font */
    font-weight: 700;
}