
@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url('https://fonts.googleapis.com/css?family=Oswald|Monoton|Play|Titillium+Web|Open+Sans|Roboto+Condensed');
@import url('http://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap');


/* 한글폰트 */
.nanumgothic { font-family: 'Nanum Gothic', "나눔고딕" sans-serif;}
.nanumgothiccoding { font-family: 'Nanum Gothic Coding', "나눔고딕코딩" monospace;}
.nanummyeongjo { font-family: 'Nanum Myeongjo', serif;}
.nanumpenscript { font-family: 'Nanum Pen Script', cursive;}
.nanumbrushscript { font-family: 'Nanum Brush Script', cursive;}
.notosanskr { font-family: 'Noto Sans KR', sans-serif;}
.gamjaflower {font-family: 'Gamja Flower', cursive;}

.oswald {font-family: 'Oswald', sans-serif;}
.monoton {font-family: 'Monoton', sans-serif;}
.play {font-family: 'Play', sans-serif;}
.titillium {font-family: 'Titillium+Web', sans-serif;}
.open {font-family: 'Open Sans', sans-serif;}
.roboto {font-family: 'Roboto', sans-serif;}
.montserrat {font-family: 'Montserrat', sans-serif;}
.raleway {font-family: 'Raleway', serif;}
.droid { font-family: 'Droid Sans', sans-serif;}
.droid_serif { font-family: 'Droid+Serif', serif;}
.noto { font-family: 'Noto Sans', sans-serif;}
.notoserif { font-family: 'Noto Serif', serif;}
.anton { font-family: 'Anton', sans-serif;}


/* 폰트추가 */
@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 400;
	src: url('/font/NotoSans-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 500;
	src: url('/font/NotoSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'NotoSans';
	font-style: normal;
	font-weight: 700;
	src: url('/font/NotoSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 800;
  src: local('Noto Sans Korean'), local('Apple SD Gothic Neo'),
    url('/font/NotoSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Korean'), local('Apple SD Gothic Neo'),
    url('/font/NotoSansKR-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'Theinhardt';
	font-style: normal;
	font-weight: 400;
	src: url('/font/Theinhardt-light-webfont.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+0201-00F6;
}

@font-face {
	font-family: 'Theinhardt';
	font-style: normal;
	font-weight: 500;
	src: url('/font/Theinhardt-regular.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+0201-00F6;
}

@font-face {
	font-family: 'Theinhardt';
	font-style: normal;
	font-weight: 700;
	src: url('/font/Theinhardt-medium.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+0201-00F6;
}

@font-face {
	font-family: 'Theinhardt';
	font-style: bold;
	font-weight: 900;
	src: url('/font/Theinhardt-bold.woff') format('woff');
	unicode-range:U+0041-005A, U+0061-007A, U+0030-0039, U+0201-00F6;
}