@charset "utf-8";
body, html {
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Nanum Gothic', '나눔 고딕', '돋움', dotum, sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 320px;
}
img {
    width: 100%;
}

/* Section 1 */
.ginseng-title {
    text-align: center;
    color: #222;
    padding-top: 11.3333333333%;
}
.ginseng-title h3{
    font-size: max(11px,4vw);
    font-weight: 600;
}
.ginseng-title p {
    font-size: max(11px,2.9333333333vw);
    font-weight: 300;
    color: #888;
    margin-top: 1.9%;
}
.ginseng-title .ginsengName-kr {
    font-size: max(11px,6.9333333333vw);
    font-weight: 700;
    margin-top: 5%;
}
.ginseng-title .ginsengName-en {
    font-size: max(11px,4vw);
    color: #444;
    margin-top: 1.9%;
}
.ginseng-movie {
    margin-top: 8.4%;
}
.ginseng-movie-mo {
    display: block;
}
.ginseng-movie-pc {
    display: none;
}
video {
    width: 100%;
}

/* Section 2 */
.ginseng-section2 {
    margin-top: -2px;
    /* 위치기준값 */
    position: relative;
}
.ginseng-section2 picture img {
}
.ginseng-section2 .text-wrap {
    color: #fff;
    padding: 16.4% 0 0 8%;

    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
}
.ginseng-section2 .text-wrap h4 {
    /* (14/360)*100 = 3.888888888888889 */
    font-size: 3.888888888888889vw;
    font-weight: 700;
}
.ginseng-section2 .text-wrap h2 {
    /* (15/623)*100  = 2.4077046548956664 */
    margin-top: 2.4077046548956664vh;
    /* (23/360)*100 = 6.388888888888888  */
    font-size: 6.388888888888888vw;
    font-weight: 500;
    line-height: 1.2;
}
.ginseng-section2 .text-wrap p {
    /* (12/360)*100 = 3.3333333333333335 */
    font-size: 3.3333333333333335vw;
    line-height: 1.5;
}
.ginseng-section2 .text-wrap p:nth-of-type(1) {
    margin-top: 16px;
}
.ginseng-section2 .text-wrap p:nth-of-type(2) {
    margin-top: 8px;
}
.ginseng-section2 .text-wrap p:nth-of-type(3) {
    font-size: max(11px,2.9333333333vw);
    margin-top: 25px;
    color: #f6cebd;
}
/* Section 3 */
/* Section 4 */
.ginseng-section4 {
    background: url(../images/ginseng/ginseng_cream_img_03_mo_kr.jpg) no-repeat;
    background-size: 100% 100%;
}
/* Section 5 */
/* Section 6 */
/* Section 7 */
/* Section 8 */
/* Section 9 */


@media screen and (min-width:751px) {
    .ginseng-movie-mo {
        display: none;
    }
    .ginseng-movie-pc {
        display: block;
    }

    .mo_only {
        display: none;
    }
}