@charset "utf-8";
@import url(./ginsengModule/section1.css);
@import url(./ginsengModule/section2.css);
@import url(./ginsengModule/section3.css);
@import url(./ginsengModule/section4.css);
@import url(./ginsengModule/section5.css);
@import url(./ginsengModule/section6.css);
@import url(./ginsengModule/section7.css);
@import url(./ginsengModule/section8.css);
@import url(./ginsengModule/section9.css);



body, html {
    font-family: NotoSans, 'Malgun Gothic', '맑은 고딕', 'Nanum Gothic', '나눔 고딕', '돋움', dotum, sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    min-width: 320px;
    letter-spacing: -0.07em;
}
img {
    width: 100%;
}
article {
    font-family: Theinhardt,NotoSans,"Malgun Gothic","맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;
}
.inner-wrap {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12.5%;
}

:root {
    /* px size */
    --font-size : 11px;
}