@charset "utf-8";

/* 모바일퍼스트 반응형 360 */
body, html {
    font-size: 62.5%;
    font-family: 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Nanum Gothic', '나눔 고딕', '돋움', dotum, sans-serif;
}
#programs-container {
    width: 100%;
}
.program-section {
    /* (330/360)*100 = 91.66666666666666 */
    width: 91.66666666666666vw;
    /* height: 17.293233082706767vh; */

    margin: 0 auto;
}
.program-section h2 {
    font-size: 3.6em;
    font-weight: 300;
    padding: 16px 0;
    text-align: center;
}

.program-title {
    /* (122/360)*100 = 33.88888888888889 */
    height: 33.88888888888889vw;
/* 미디어쿼리 600이상 시, 167고정시키기 */
    /* max-height: 167px; */
}

.program-title picture source,
.program-title picture img {
    width: 100%;
    height: 100%;
}

.program-title {
    /* 위치기준값 */
    position: relative;
}
.program-desc {
    /* 포지션 */
    position: absolute;
    top: 22%;
    left: 5%;
    color: #fff;
}
.program-desc h3 {
    font-size: 25px;
    line-height: 2;
}
.program-desc p {
    font-size: 11px;
    line-height: 1.5;
}

.moreBtn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    right: 0;

}
.moreBtn span {
    display: inline-block;
    width: 28px;
    height: 1px;
    background: #fff;
    /* 포지션 */
    position: absolute;
    bottom: 40px;
    right: 24px;

    transform: rotate(180deg);

    transition: all 0.3s ease-out;
}
.moreBtn.on span:nth-child(2) {
    transform: rotate(-90deg);
}
.moreBtn span:nth-child(2) {
    transform: rotate(-360deg);
}

.program-part {
    padding: 16px 18px;
    border-bottom: 1px solid #ccc;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -1px;
    color: #333;
    
    transition: border 0.5s;
}
.program-part:hover {
    border-bottom: 1px solid #000;
}

.program-part h3 p:first-child {
    font-weight: 600;
    font-size: 1.44rem;
    text-decoration-line: underline;
}
.program-part .spa-en,
.program-part .spa-ko {
    font-weight: 200;
    font-size: 1.6rem;
}
.program-part .spa-desc {
    color: #555;
}
.program-part .spa-price {
    display: inline-block;
    margin-top: 43px;
    margin-bottom: 25px;
    color: #767676;
}
.program-part button {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 6px 34px;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;

    transition: all 0.5s ease-out;
}
.program-part button:hover {
    color: #fff;
    background: #333;
}