@charset "utf-8";

/* Section 5 */
.ginseng-section5 .section5-title p {
    /* (76/360)*100 = 21.11111111111111 */
    margin-top: 21.11111111111111%;
    /* (32/360)*100 = 8.88888888888889 */
    margin-bottom: 8.88888888888889%;
    text-align: center;
    color: #e86e25;
    letter-spacing: 0.08em;
    /* (11.52/360)*100 = 3.2 */
    font-size: 3.2vw;
}
.ginseng-section5 .section5-movie {
    width: auto;
    padding: 0 5.33%;
}
.ginseng-section5 .section5-movie video {
    width: 100%;
}

/* 태블릿 750px이상 : 1920기준 */

@media screen and (min-width:751px) {

    .ginseng-section5 .section5-title p {
        margin-top: 9.375%;
        margin-bottom: 3.375%;

        /* 수정 */
        /* (22/1920)*100 = 1.1458333333333333 */
        font-size: max(var(--font-size),1.1458333333333333vw);
    }
    .movie-wrap {
        padding-right: 12.5%;
        padding-left: 12.5%;
        margin: 0 auto;
    }
    .ginseng-section5 .section5-movie {
        padding: 0;
    }

    }
