@charset "utf-8";

/* Section 7 */
.ginseng-section7 {
    background: url("/images/ginseng/ginseng_cream_img_09_mo_kr.jpg") no-repeat;
    background-size: cover;
    width: 100%;
}
.ginseng-section7 .inner-wrap {
    width: 100%;
    padding: 26.7% 0;
}
.ginseng-section7 .text-wrap {
    text-align: center;
}
.ginseng-section7 .text-wrap > p:first-of-type {
    /* (24.96/360)*100 = 6.933333333333333 */
    font-size: max(var(--font-size),6.933333333333333vw);
    font-weight: 700;
}
.ginseng-section7 .percentage {
    margin: 4.6666666667% 0 8.3333333333%;
    display: flex;
    justify-content: center;
}
.ginseng-section7 .percentage .list-num {
    color: #e86e25;
    /* (24/360)*100 = 6.666666666666667 */
    font-size: max(var(--font-size),6.666666666666667vw);
}
.ginseng-section7 .percentage .list-desc {
    margin-top: 10%;
    /* (11.52/360)*100 = 3.2 */
    font-size: max(var(--font-size),3.2vw);
}
.percentage-list-02 {
    margin: 0 18.75px;
    /* (18.75/360)*100 = 5.208333333333334 */
    margin: 0 5.208333333333334%;
}
.ginseng-section7 .detail-desc {
    color: #888;
    /* (11/360)*100 = 3.0555555555555554 */
    font-size: max(var(--font-size),3.0555555555555554vw);
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -0.05em;
}

/* 태블릿 750px이상 : 1920기준 */
@media screen and (min-width:751px) {
    .ginseng-section7 {
        background: url("/images/ginseng/ginseng_cream_img_09_pc_kr.jpg") no-repeat;
    }
    .ginseng-section7 .inner-wrap {
        width: 100%;
        padding: 0;
    }
    .ginseng-section7 .text-wrap {
        padding: 11.1145833333% 0;
    }
    .ginseng-section7 .text-wrap > p:first-of-type {
        /* (48/1920)*100 = 2.5 */
        font-size: max(var(--font-size),2.5vw);
    }
    .ginseng-section7 .percentage {
        margin: 4% 0px 6.2%;
    }
    .ginseng-section7 .percentage .list-num {
        /* (58/1920)*100 = 3.0208333333333335  */
        font-size: max(var(--font-size),3.0208333333333335vw);
    }
    .ginseng-section7 .percentage .list-desc {
        /* (24/1920)*100 = 1.25 */
        font-size: max(var(--font-size),1.25vw);
    }
    .ginseng-section7 .detail-desc {
        /* (18/1920)*100 = 0.9375*/
        font-size: max(var(--font-size),0.9375vw);
    }
}
