@charset "utf-8";

/* Section 9 */
.ginseng-section9 {
    text-align: center;

}
.section9-product-part {
    background: url("/images/ginseng/ginseng_cream_img_07_mo.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: 0 bottom;
    padding: 32% 0 24%;
    width: 100%;
}
.ginseng-section9 .ginseng-cream-ex {
    margin-bottom: 13.3333333333%;
}
.ginseng-section9 .ginseng-cream-ex img {
    width: 34.6666666667vw;
}
.ginseng-section9 .ginseng-serum-ex img {
    width: 16.8vw;
}
.ginseng-section9 .text-wrap {
    margin-top: 5.0666666667vw;
}
.ginseng-section9 .text-wrap .product-title-kr {
    font-size: max(var(--font-size),4.5333333333vw);
    font-weight: 700;
}
.ginseng-section9 .text-wrap .product-title-en {
    margin-top: 1.3333333333vw;
    font-size: max(var(--font-size),2.9333333333vw);
    font-weight: 500;
    letter-spacing: 0.025em;
    color: #888;
}
.ginseng-section9 .text-wrap a {
    display: inline-block;
    margin-top: 4.2666667vw;
    padding: 2vw;
    width: 32vw;
    background: #000;
    color: #fff;
    font-weight: 600;
    font-size: max(var(--font-size),2.9333333333vw);
    letter-spacing: -0.1em;
}

/* 1920기준 */
@media screen and (min-width:751px) {
    .ginseng-section9 {
        background: url("/images/ginseng/ginseng_cream_img_07_pc.jpg") no-repeat;
    }
    .section9-product-part {
        /* 수정 */
        padding: 0;
    }
    /* 추가 */
    .inner-part-wrap {
        max-width: 1920px;
        margin: 0 auto;
        padding: 9.375% 9.8958333333% 9.375% 14.6875%;
    }

    /* 추가 */
    .section9-product-part ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: end;
    }
    .ginseng-section9 .ginseng-cream-ex {
        /* 수정 */
        margin-bottom: 0;
    }
    .ginseng-section9 .ginseng-cream-ex img {
        /* 수정 */
        width: 10.9895833333vw;
    }
    .ginseng-section9 .ginseng-serum-ex img {
        /* 수정 */
        width: 5.9375vw;
    }
    .ginseng-section9 .text-wrap {
        /* 수정 */
        margin-top: 2.066667vw;
    }
    .ginseng-section9 .text-wrap .product-title-kr {
        /* (32/1920)*100 = 1.6666666666666667 */
        font-size: max(var(--font-size),1.6666666666666667vw);
    }
    .ginseng-section9 .text-wrap .product-title-en {
        margin-top: 0.5vw;
        /* (18/1920)*100 = 0.9375 */
        font-size: max(var(--font-size),0.9375vw);
    }
    .ginseng-section9 .text-wrap a {
        /* 수정 */
        margin-top: 2.266667vw;
        padding: .78125vw;
        width: 11.4583333333vw;
        font-size: max(var(--font-size),0.9375vw);
    }
}
