@charset "utf-8";

/* Section 8 */
.ginseng-section8 .cream-type-soft {
    background: url("/images/ginseng/ginseng_cream_img_05_mo_kr.jpg") no-repeat center;
    width: 100%;
    text-align: right;
}
.ginseng-section8 .cream-type-classic {
    background: url("/images/ginseng/ginseng_cream_img_06_mo_kr.jpg") no-repeat center;
    width: 100%;
    text-align: left;
}
.ginseng-section8 > div .text-wrap {
    padding: 10.9% 7.999138888888889% 27.22222222222222%;

}
.ginseng-section8 > div .text-wrap h4 {
    /* (14.4/360)*100 = 4 */
    font-size: max(var(--font-size), 4vw);
    font-weight: 600;
}
.ginseng-section8 > div .text-wrap h2 {
    /* (24.96/360)*100 = 6.933333333333333 */
    font-size: max(var(--font-size),6.933333333333333vw);
    font-weight: 700;
    margin: 4% 0 4.6666666667%;
}
.ginseng-section8 > div .text-wrap ul li {
    /* (12.48/360)*100 = 3.4666666666666663 */
    font-size: max(var(--font-size),3.4666666666666663vw);
    line-height: 1.5384615385;
    padding-left: 3.6764705882%;
    letter-spacing: -0.1em;
}
.ginseng-section8 > div .text-wrap ul li .list-dot {
    position: relative;
}
.ginseng-section8 > div .text-wrap ul li .list-dot::before {
    position: absolute;
    content: "";
    top: 42%;
    left: -1.73333vw;
    transform: translateY(-50%);
    width: 0.8vw;
    height: 0.8vw;
    background-color: #222;
    border-radius: 1em;
}

/* 태블릿 750px이상 : 1920기준 */
@media screen and (min-width:751px) {
    /* 추가 */
    .ginseng-section8 {
        display: flex;
        flex-flow: row nowrap;
        margin-top: -10px;
    }
    .ginseng-section8 .cream-type-soft {
        background: url("/images/ginseng/ginseng_cream_img_05_pc_kr.jpg") no-repeat center;
    }
    .ginseng-section8 .cream-type-classic {
        background: url("/images/ginseng/ginseng_cream_img_06_pc_kr.jpg") no-repeat center;
    }

    .ginseng-section8 > div .text-wrap {
        /* 수정 */
        padding: 9.5833333333% 9.375% 38.5416666667%;
    }
    .ginseng-section8 > div .text-wrap h4 {
        /* 수정  */
        /* (28/1920)*100 = 1.4583333333333333 */
        font-size: max(var(--font-size), 1.4583333333333333vw);
    }
    .ginseng-section8 > div .text-wrap h2 {
        /* 수정  */
        /* (48/1920)*100 = 2.5  */
        font-size: max(var(--font-size),2.5vw);
        /* 수정  */
        margin: 3% 0 3.6666666667%;
    }
    .ginseng-section8 > div .text-wrap ul li {
        /* 수정  */
        /* (24/1440)*100 = 1.25*/
        font-size: max(var(--font-size),1.25vw);
    }
    .ginseng-section8 > div .text-wrap ul li .list-dot::before {
        /* 수정  */
        top: 50%;
        left: -0.73333vw;
        width: .3125vw;
        height: .3125vw;
    }

}
