#about_main {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-family: "Theinhardt","NotoSans","Malgun Gothic","맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif;
    letter-spacing: -.07em;
    word-spacing: 0.05em;
    line-height: 1.5;
    overflow: hidden;
}
#about_main img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    text-decoration: initial;
}