@charset "utf-8";

/* 공통 css */
html, body {
    min-width: 360px;
    /* font-size: 62.5%; */
    font-family: 'Theinhardt','Noto Sans KR', 'Nanum Gothic', '나눔고딕', sans-serif;
    /* font-family: Theinhardt,NotoSans,"Malgun Gothic","맑은 고딕","Nanum Gothic","나눔 고딕","돋움",dotum,sans-serif; */
    overflow-x: hidden;
}
#wrap {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* 모바일 퍼스트 */
/* header */
header{
    height: 60px;
}

/* main */

main {
    color: #222;
}
/* section02 */
.yunjo_title {
    padding-top: 11.3333333333%;
    text-align: center;
}
.yunjo_title h3 {
    font-size: 4vw;
    font-weight: 700;
}
.yunjo_title h3>span {
    font-size: 4.5333vw;
    font-weight: 500;
}
.yunjo_title .text_ani {
    margin-top: 3.8666666667%;
}
.yunjo_title h2 {
    font-size: 6.9333333333vw;
    font-weight: 700;
}
.yunjo_title p {
    margin-top: 1.3333333333%;
    font-size: 4vw;
    font-weight: 400;
    color: #444;
    letter-spacing: 0.07em;
}
.yunjo_video01 figure video{
    max-width: 100%;
    height: 640px;
    height: auto;
    margin-top: 30px;
}
/* first care */
.yunjo_first_care {
    margin-top: -1.5px;
    /* 포지션 */
    position: relative;
}
.first_care_img img{
    /* (360/750)*100 = 48 */
    width: 100%;
}
.first_care_Text {
    padding-top: 14%;
    padding-left: 8%;
    color: #fff;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
}
.first_care_Text h2 {
    font-size: 8.2666666667vw;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.2;
    word-break: break-all;
}
.first_care_Text h3 {
    font-size: 4vw;
    font-weight: 500;
    margin: 8px 0 20px;
} 
.first_care_Text p {
    font-size: 3.4666666667vw;
    font-weight: 300;
    line-height: 1.5;
} 
.first_care_Text p.first_p02 {
    margin: 2% 0;
}
/* yunjo essence 정보 */
.yunjo_essence_info {
    width: 100%;
    padding: 15.4% 0;
    text-align: center;
}
.yunjo_essence_info h2 p:nth-child(1) {
    font-size: 6.1333333333vw;
    font-weight: 600;
}
.yunjo_essence_info h2 p:nth-child(2) {
    margin-top: 1.3333%;
    font-size: 3.4666666667vw;
    color: #888;
}
.yunjo_essence_info h2 p:nth-child(3) {
    margin-top: 6.2667%;
    font-size: 3.4666666667vw;
}
.yunjo_essence_info h3 {
    margin-top: 6.4%;
    font-size: 3.7333vw;
    font-weight: 500;
    color: #888;
    /* animation: fadeIn60 1.2s ease-in-out; */
}
.yunjo_essence_info h3 span {
    font-weight: 500;
    color: #222;
    margin-left: 1.875%;
}
.yunjo_essence_info h3 span:first-child::after {
    content: "|";
    margin: 0 2%;
    color: #999;
}
.yunjo_essence_info article {
    width: 100%;
    margin-top: 8.6667%;
    /* 플렉스 */
    display: flex;
    justify-content: center;
}
.yunjo_essence_info article button {
    width: 31.3333vw;
    padding: 2.9333% 0;
    text-align: center;
    font-size: 3.4667vw;
    font-weight: 600;
}
.yunjo_essence_info article button:nth-child(1){
    border: 1px solid #222;
    color: #222;
    /* animation: fadeIn60 1s ease-in-out; */
}
.yunjo_essence_info article button:nth-child(2){
    margin-left: 1.6667%;
    background-color: #222;
    border: 1px solid #222;
    color: #fff;
    /* animation: fadeIn60 1.1s ease-in-out; */
}
/* yunjo essence 이미지 */
.yunjo_essence_img {
    margin-bottom: 21.2%;
}
.yunjo_essence_img img {
    width: 100%;
    height: 100%;
    /* animation: scale 1.5s ease; */
}
/* yunjo video02 */
.yunjo_video02 {
    padding: 0 5.3333333333%;
}
.yunjo_video02 h2 {
    font-size: 3.2vw;
    color: #e86e25;
    text-align: center;
    letter-spacing: .1em;
    word-spacing: 0.05em;
    padding-bottom: 4.375%;
    font-weight: 300;
    /* animation: fadeIn80 1s ease-in-out; */
}
#video02 {
    width: 100%;
    /* animation: fadeIn80 1.1s ease-in-out; */
}
/* yunjo detail */
.yunjo_detail {
    margin-top: 23.2%;
    padding: 0 5.3333333333%;
}
.yunjo_detail .detail_sec01 {
    /* animation: fadeIn60 1s ease-in-out; */
    text-align: right;
    color: #222;
}
.yunjo_detail div h2 {
    font-size: 6.1333vw;
    font-weight: 600;
    line-height: 1.3333;
    letter-spacing: -.04em;
    word-spacing: 0.05em;
}
.yunjo_detail p {
    margin-top: 2.2388059701%;
    line-height: 1.5;
    font-size: 3.4667vw;
    color: #222;
    
}
.yunjo_detail .detail_sec01>img {
    /* (264/320)*100 = 82.5 */
    width: 82.5%;
    margin-top: 4.1666666667%;
    /* animation: fadeIn60 1.2s ease-in-out; */
}
.yunjo_detail .detail_sec02 {
    margin-top: 14.9253731343%;
    text-align: left;
    /* animation: fadeIn60 1s ease-in-out; */
}
.yunjo_detail .detail_sec02>h2.pc {
    display: none;
}
.yunjo_detail .detail_sec02>img {
    margin-top: 2.9851%;
    width: 82.5%;
}
/* yunjo_ginseng */
.yunjo_ginseng {
    margin-top: 24%;
    /* 포지션 기준값 */
    position: relative;
}
.yunjo_ginseng .ginseng_img img {
    width: 100%;
}
.yunjo_ginseng .ginseng_text {
    padding-top: 16.9333%;
    padding-left: 8%;
    line-height: 1.58;
    color: #fff;
    /* 포지션 */   
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
}
.ginseng_text h2 {
    padding-left: 0.178%;
    font-size: 6.9333vw;
    font-weight: 700;
    /* animation: fadeIn60 1s ease-in-out; */
}
.ginseng_text h3 {
    padding-left: 0.178%;
    font-size: 3.4667vw;
    font-weight: 500;
    margin-top: 5.2173913043%;
    margin-bottom: 1.1594202899%;
    /* animation: fadeIn60 1.1s ease-in-out; */
}
.ginseng_text .ginseng_p01 {
    padding-left: 0.178%;
    font-size: 3.4vw;
    font-weight: 300;
    letter-spacing: -0.04em;
    /* animation: fadeIn60 1.2s ease-in-out; */
}
.ginseng_text .ginseng_p02 {
    font-size: 2.9333333333vw;
    font-weight: 300;
    margin-top: 7.8261%;
    color: #ffffffb3;
    /* animation: fadeIn60 1.3s ease-in-out; */
}
.ginseng_text .ginseng_p02 span {
    position: relative;
    top: 0.2em;
}
/* yunjo_lotion */
.yunjo_lotion {
    /* 포지션 기준값 */
    position: relative;
}
.yunjo_lotion_img img {
    width: 100%;
}
.yunjo_lotion_text {
    width: 100%;
    padding-top: 16.8%;
    padding-left: 8%;
    line-height: 1.5;
    word-spacing: 0.05em;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
}
.yunjo_lotion_text sup {
    vertical-align: 0.5em;
    font-size: 0.55em;
}
.yunjo_lotion_text h2 {
    font-size: 6.9333vw;
    font-weight: 600;
}
.yunjo_lotion_text h3 {
    font-size: 3.4666666667vw;
    font-weight: 500;
    margin-top: 5.5072463768%;
    margin-bottom: 5.5072%;
    letter-spacing: -0.04em;
}
.yunjo_lotion_text ul {
    /* 플렉스 */
    display: flex;
}
.yunjo_lotion_text ul li {
    width: 50%;
    font-size: 3vw;
    line-height: 1.5;
    color: #222;
}
.yunjo_lotion_text ul li .effect_box {
    /* (106/360)*100 = 29.444444444444446 */
    width: 29.6666666667vw;
    height: 0;
    /* (7/360)*100 = 1.9444444444444444 */
    padding-top: 1.9444444444444444vw;
    padding-bottom: 5.9vw;
    text-align: center;
    font-size: 3.2vw;
    font-weight: 300;
    border: 2px solid #e86e25;
    border-radius: 4.0666666667vw;
    color: #e86e25;
}
.yunjo_lotion_text ul li .lotion_effect_flex {
    padding-top: 3.3333%;
}
.yunjo_lotion_text ul li .lotion_effect_flex p {
    margin-left: 1.1363636364%;
    font-weight: 300;
}
.yunjo_lotion_text ul li .lotion_effect_flex p:nth-child(2){
    margin-top: 1.2vw;
}
.yunjo_lotion_text>ol {
    width: 91.1458vw;
    font-size: 2.4vw;
    color: #ffffffb3;
    letter-spacing: -0.04em;
}
.yunjo_lotion_text ul+ol {
    margin: 81.5217% .5797101449% 1.1364% 0;
    line-height: 1.6;
}
/* essence_cover */
.essence_cover {
    margin-top: -1px;
    /* 포지션 기준값 */
    position: relative;
}
.cover_img img{
    width: 100%;
}
.cover_text {
    width: 100%;
    padding-top: 16%;
    padding-right: 6.9333%;
    text-align: right;
    color: #ffffff;
    font-size: 6.9333vw;
    font-weight: 700;
    /* 포지션 */
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999999;
}
.cover_text h2 {
    line-height: 1.3;
    font-weight: 600;
}
.cover_text p {
    margin-top: 8%;
    padding-right: 0.8%;
    font-size: 3.4667vw;
    line-height: 1.5;
}
/* video03 */
.yunjo_video03 figure video{
    margin-top: -1px;
    width: 100%;
}
/* yunjo_cream */
.yunjo_cream {
    width: 100%;
    background: url(../images/yunjo/yunjo_mobile/shadowCream_m.png) no-repeat center;
    background-size: 100%;
    padding-bottom: 25%;
}
.cream_text_wrap {
    width: 100%;
    padding: 0;
}
.yunjo_cream .cream_text {
    padding-top: 44.6667%;
    padding-left: 8%;
    padding-right: 0;
    color: #222;
}
.yunjo_cream .cream_text h2 {
    font-size: 6.1333vw;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: -0.04em;
}
.yunjo_cream .cream_text h2+p {
    margin-top: 4.2028985507%;
    margin-bottom: 8.1159%;
    line-height: 1.5;
    font-size: 3.4667vw;
}
.yunjo_cream .cream_text h2+p+p {
    line-height: 1.5;
    font-size: 2.9333333333vw;
    color: #888;
}
/* yunjo_product */
.product_set {
    margin-top: 26.6667%;
    text-align: center;
    /* 포지션 */
    /* position: absolute;
    top: 386px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999; */

}
.yunjo_product .product02 {
    margin-top: 25.3333%;
    padding-top: 0;
}
.yunjo_product .product03 {
    margin-top: 33.0667%;
    padding-left: 0;
}
.yunjo_product .product01 img {
    width: 52px;
    /* (52/360)*100 = 14.444444444444443 */
    width: 14.4444vw;
    height: 100%;
}
.yunjo_product .product02 img {
    width: 142px;
    /* (142/360)*100 = 39.44444444444444 */
    width: 39.44444444444444vw;
    height: 100%;
}
.yunjo_product .product03 img {
    width: 255px;
    /* (255/360)*100 = 70.83333333333334*/
    width: 70.83333333333334vw;
    height: 100%;
}
.yunjo_product .product01 h2,
.yunjo_product .product02 h2,
.yunjo_product .product03 h2 {
    margin-top: 6vw;
    font-size: 4.5333vw;
    font-weight: 600;
}
.yunjo_product .product01 p,
.yunjo_product .product02 p,
.yunjo_product .product03 p {
    margin-top: 1.3333333333vw;
    margin-bottom: 4.2667vw;
    font-size: 2.9333333333vw;
    color: #888;
}
.yunjo_product .product01 button {
    width: 32vw;
    padding: 2vw 0;
    font-size: 2.9333vw;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: #222;
    letter-spacing: -0.04em;
}
.yunjo_product .product02 button,
.yunjo_product .product03 button {
    width: 32vw;
    padding: 2vw 0;
    font-size: 2.9333vw;
    font-weight: 600;
    text-align: center;
    color: #222;
    border: 1px solid #222;
    font-family: 'notoSans', sans-serif;
    letter-spacing: -0.04em;
}

/* footer */
footer {
    height: 100px;
}















/* 태블릿 미디어쿼리 768px 이상 */
@media screen and (min-width:768px){
/* header */
header h1 {
    width: 58%;
}
/* yunjo title */
    /* 속성값 수정 */
    .yunjo_title {
        padding-top: 6.9444%;
    }
    /* 속성값 수정 */
    .yunjo_title h3 {
        font-size: 1.4583vw;
    }
    /* 속성값 수정 */
    .yunjo_title h3>span {
        font-size: 1.6666666667vw;
        font-weight: 500;
    }
    /* 속성값 수정 */
    .yunjo_title .text_ani {
        margin-top: 1.8055555556%;
    }
    /* 속성값 수정 */
    .yunjo_title h2 {
        font-size: 2.5vw;
    }
    /* 속성값 수정 */
    .yunjo_title p {
        margin-top: 0.625%;
        font-size: 1.4583vw;
    }
/* first care */
    /* 속성값 수정 */
    .first_care_img {
        width: 100%;
    }
    /* 속성값 수정 */
    .first_care_Text {
        padding-top: 16.9270833333%;
        padding-left: 12.5%;
    }
    
    /* 속성값 수정 */ 
    .first_care_Text h2 {
        font-size: 3.0208vw;
    }
    /* 속성값 수정 */ 
    .first_care_Text h3 {
        font-size: 1.4583333333vw;
        margin-top: 0.9375%;
    }
    /* 속성값 수정 */ 
    .first_care_Text p {
        font-size: 1.44vw;
        line-height: 1.5889;
    }
    /* 속성값 수정 */
    .first_care_Text p.first_p02 {
        margin: 0.625% 0;
    }
/* yunjo essence 정보 */
    /* 속성값 추가 */
    #yunjo_essence {
        width: 100%;
        padding: 0;
        margin-bottom: 9.37%;
        /* 플렉스 */
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        /* align-items: center; */
    }   
    /* 속성값 추가 */
    .yunjo_essence_info {
        width: 50%;
        padding: 0;
        /* 플렉스 */                                                                      
        display: flex;                            
        justify-content: center;              
        align-items: center;            
    }
    /* 요소 추가 */
    .yunjo_essence_info_flex {
        width: 50%;
        text-align: left;
    }
    /* 속성값 수정 */
    .yunjo_essence_info h2 p:nth-child(1) {
        font-size: 2.1875vw;
    }
    /* 속성값 수정 */
    .yunjo_essence_info h2 p:nth-child(2) {
        font-size: 1.25vw;
        margin-top: 2.2917%;
    }
    /* 속성값 수정 */
    .yunjo_essence_info_flex h2 p:nth-child(3) {
        font-size: 1.35vw;
        margin-top: 8.3333333333%;
        margin-bottom: 8.75%;
    }
    /* 속성값 수정 */
    .yunjo_essence_info h3 {
        font-size: 1.25vw;
        margin-top: 0;
    }
    /* 속성 추가 */
    .yunjo_essence_info article {
        margin-top: 14.1666666667%;
        justify-content: flex-start;
    }
    /* 속성값 수정 */
    .yunjo_essence_info article button {
        /* (88/384)*100 = 22.916666666666664 */
        /* width: 22.916666666666664%; */
        width: 11.4583vw;
        padding: 4.1666666667% 0;
        font-size: 1.25vw;
        display: inline-block;
    }
    .yunjo_essence_info article button:nth-child(2) {
        margin-left: 3.6667%;
    }
    /* 속성값 추가 */
    .yunjo_essence_img {
        width: 50%;
        height: 100%;
    }
    /* 속성값 수정 */
    .yunjo_essence_img {
        margin-bottom: 0;
    }
/* yunjo video02 */
    /* 속성값 수정 */
    .yunjo_video02 {
        margin: 0 auto;
        padding: 0 12.5%;
    }
    /* 속성값 수정 */
    .yunjo_video02 h2 {
        font-size: 1.1458vw;
    }
/* yunjo detail */
    /* 속성값 추가 */
    .yunjo_detail {
        width: 100%;
        /* (39/343)*100 = 11.370262390670554 */
        padding: 0 11.370262390670554%;
        /* 플렉스 */
        display: flex;
        justify-content: space-between;
    }
    /* 속성값 추가 */
    .yunjo_detail .detail_sec01 {
        width: 50%;
    }
    /* 속성값 추가 */
    .yunjo_detail .detail_sec02 {
        width: 50%;
        padding-left: 10%;
        margin-top: 7.688%;
    }
    /* 속성값 추가 */
    .yunjo_detail .detail_sec02>h2.mo {
        display: none;
    }
    /* 속성값 추가 */
    .yunjo_detail .detail_sec02>h2.pc {
        display: block;
        margin-top: 4.1666666667%;
    }
    /* 속성값 수정 */
    .yunjo_detail div h2 {
        font-size: 2.1875vw;
    }
    /* 속성값 수정 */
    .yunjo_detail p {
        padding-right: 1.3333%;
        font-size: 1.25vw;
    }
/* yunjo_ginseng */
    /* 속성값 수정 */
    .yunjo_ginseng {
        margin-top: 9.5833%;
    }
    /* 속성값 수정 */
    .yunjo_ginseng .ginseng_text  {
        padding-top: 13.0208%;
        padding-left: 12.2396%;
    }
    /* 속성값 수정 */
    .ginseng_text h2 {
        font-size: 2.5vw;
    }
    .ginseng_text h3 {
        margin-top: 2.0772%;
        margin-bottom: 0.5341%;
        font-size: 1.25vw;
    }
    /* 속성값 수정 */
    .ginseng_text .ginseng_p01 {
        font-size: 1.25vw;
    }
    /* 속성값 수정 */
    .ginseng_text .ginseng_p02 {
        font-size: .9375vw;
        margin-top: 3.0861%;
    }
/* yunjo_lotion */
    /* 속성값 수정 */
    .yunjo_lotion_text {
        padding-top: 8.2542%;
        padding-left: 54.1667%;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text h2 {
        font-size: 2.5vw;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text h3 {
        font-size: 1.25vw;
        margin-top: 3.8636%;
        margin-bottom: 0;
        font-weight: 600;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text ul {
        display: block;
        margin: 1.3550135501% 0;
    }
    /* 속성값 추가 */
    main br.mo {
        display: none;
    }
    /* 속성값 추가 / 수정 */
    .yunjo_lotion_text ul li {
        width: 100%;
        font-size: 1.1458vw;
        font-weight: 200;
        line-height: 1.3;
        letter-spacing: -.04em;
        /* 플렉스 */
        display: flex;
    }
    /* 속성값 추가 */
    .yunjo_lotion_text ul li:nth-child(2) {
        margin-top: 1.4773%;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text ul li .effect_box {
        width: 10.3125vW;
        font-size: 1.1458vw;
        border-radius: 1.5885416667vw;
        padding-top: 1.4949152542%;
        padding-bottom: 4.5197740113%;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text ul li .lotion_effect_flex {
        padding-top: 0;
        margin-left: 1.1363636364%;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text ul li .lotion_effect_flex p {
        padding-top: 0.5682%;
        margin-left: 0;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text ul li .lotion_effect_flex p:nth-child(2){
        margin-top: 0;
    }
    /* 속성 추가 */
    .yunjo_lotion_text>ol li {
        display: inline;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text>ol {
        width: 41.6667vw;
        /* color: #222222b3; */
        color: rgba(34,34,34,.7);
        font-size: 0.7292vw;
    }
    /* 속성값 수정 */
    .yunjo_lotion_text ul+ol {
        margin: 0 0 1%;
        line-height: 1.7;
    }
    .yunjo_lotion_text ul+ol+ol {
        font-weight: 200;
    }
/* essence_cover */
    /* 속성 추가 */
    .essence_cover_flex {
        /* 플렉스 */
        display: flex;
    }
    .essence_cover .cover_img img{
        max-width: 100%;
        width: 100%;
    }
    /* 속성값 수정 */
    .cover_text {
        padding-top: 14.6875%;
        padding-right: 10.9375%;
    }
    /* 속성값 수정 */
    .cover_text h2 {
        font-size: 2.5vw;
    }
    /* 속성값 수정 */
    .cover_text p {
        margin-top: 3.9063%;
        font-size: 1.25vw;
        font-weight: 300;
    }
    /* 속성값 수정 */
    .yunjo_video03 figure video {
        height: 100%;
    }
/* yunjo_cream */
    .yunjo_cream {  
        width: 100%;
        padding-bottom: 83.125%;
        height: 0;
        background: url(../images/yunjo/yunjo_pc/shadowCream_pc.png)no-repeat center;
        background-size: contain;
        /* position: static; */
    }
    /* 속성값 수정 */
    .yunjo_cream .cream_text {
        padding-top: 9.5313%;
        padding-right: 12.5%;
        padding-left: 12.5%;
    }
    /* 속성 추가 */
    .yunjo_cream .cream_text br.mo {
        display: none;
    }
    .yunjo_cream .cream_text h2 {
        font-size: 2.1875vw;
    }
    .yunjo_cream .cream_text h2+p {
        margin-top: 1.8229%;
        margin-bottom: 0;
        font-size: 1.4vw;
    }
    .yunjo_cream .cream_text h2+p+p {
        margin-top: 4%;
        margin-bottom: 0;
        font-size: 1.2vw;
        color: #888;
    }
/* yunjo_product */
    .product_set .yunjo_product li {
        text-align: center;
    }
    /* 속성 추가 */
    .product_set {
        margin-top: 24.7396%;
        padding-right: 9.8958%;
        padding-left: 14.6875%;
    }
    .product_set .yunjo_product {
        /* 플렉스 */
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    /* 속성값 수정 */
    .yunjo_product .product01_img img {
        width: 5.625vw;
    }
    .yunjo_product .product02_img img {
        width: 15.3645833333vw;
    }
    .yunjo_product .product03_img img {
        width: 28.0729166667vw;
    }
    .yunjo_product .product02,
    .yunjo_product .product03 {
        margin-top: 0;
    }
    /* 속성값 수정 */
    .yunjo_product .product01 h2,
    .yunjo_product .product02 h2,
    .yunjo_product .product03 h2 {
        width: 100%;
        margin-top: 2.34375vw;
        font-size: 1.6666666667vw;
    }
    /* 속성값 수정 */
    .yunjo_product .product01 p,
    .yunjo_product .product02 p,
    .yunjo_product .product03 p {
        margin-top: .5208333333vw;
        margin-bottom: 1.5625vw;
        font-size: .9375vw;
    }
    .yunjo_product .product01 button,
    .yunjo_product .product02 button,
    .yunjo_product .product03 button {
        width: 11.4583333333vw;
        padding: .78125vw 0;
        font-size: .9375vw;
        letter-spacing: -0.04em;
    }

}














/* pc 미디어쿼리 1024px 이상 */
@media screen and (min-width:1024px){
/* yunjo detail */
    .yunjo_detail {
        margin-top: 7.2917%;
        padding: 0 6.8055555556%;
        margin-right: 11.1111%;
    }
    .yunjo_detail div h2 {
        font-size: 2.1875vw;
        line-height: 1.3333;

    }
    .yunjo_detail p {
        line-height: 1.5833;
        margin-top: 2.8333%;
        padding-right: 1.3333%;
    }
/* yunjo_lotion */
    .yunjo_lotion_text ul {
        margin-top: 2.0455%;
        margin-left: -.5681818182%;
        margin-bottom: 6.4772727273%;
    }
    .yunjo_cream .cream_text h2+p {
        font-size: 1.25vw;
    }
    .yunjo_cream .cream_text h2+p+p {
        font-size: 0.9375vw;
        line-height: 1.5555;
        margin-top: 2.8646%;
    }
}