/* main */
/* 모바일단 세이프에리어 */
.spaPro_info {
    padding: 0 15px;
}
/* spaPro_title */
.spaPro_title_text {
    padding: 1.5em 0 3.5em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.spaPro_title_text h2 {
    font-size: 2.1em;
    /* (10/73)*100 = 13.698630136986301 */
    margin: 3.698630136986301% 0;
    line-height: 1.5;
    color: #191919;
    font-weight: 300;
}
.spaPro_title_text p {
    margin-top: 14px;
    font-size: 1.3em;
    line-height: 1.6;
    color: #767676;
    font-weight: 300;
    margin-bottom: 0;
}
.spaPro_guide article {
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
}
.spaPro_guide img {
    width: 100%;
}
article .spaPro_text h2 {
    margin-top: 1em;
    font-size: 1.52em;
    font-weight: 300;
}
article .spaPro_text p {
    margin-top: 14px;
    color: #767676;
    line-height: 1.6;
    font-size: 1.4em;
    font-weight: 300;
}
.spaPro_guide article:nth-child(4) h2 {
    font-size: 1.75em;
}
.spaPro_info .spa_alert {
    margin-top: 14px;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.4em;
    color: #767676;
}
/* footer */
footer {
    height: 100px;
}





/* 태블릿 768px단 */
@media screen and (min-width:768px){
    /* 태블릿단 세이프에리어 */
    .spaPro_info_wrap{
        max-width: 1100px;
        padding: 0 30px;
        margin: 0 auto;
    }

    /* main */
    /* 속성값 수정 */
    .spaPro_info {
        padding: 0 3.125%;
    }
    /* 속성값 수정 */
    .spaPro_title_text h2 {
        margin: 0.5em 0;
        font-size: 2.8em;
    }
    /* 속성값 수정 */
    .spaPro_title_text p {
        font-size: 1.4em;
    }
    /* 속성 추가 */
    .spaPro_guide article {
        width: 100%;
        padding: 1.25em 0;
        /* 플렉스 */
        display: flex;
    }
    /* 속성 추가 */
    .spaPro_guide article .spaPro_img {
        width: 50%;
    }
    /* 속성 추가, 속성값 수정 */
    .spaPro_guide article .spaPro_text {
        width: 50%;
        padding-left: 3.125%;
    }
    /* 속성값 수정 */
    article .spaPro_text h2 {
        font-size: 1.8em;
    }
    /* 속성값 수정 */
    .spaPro_guide article:nth-child(4) h2 {
        font-size: 1.72em;
    }
}










/* pc단 1024px */
@media screen and (min-width:1024px){
    /* pc단 세이프에리어 */
    .spaPro_info_wrap {
        padding: 0;
    }
    /* main */
    /* 속성값 수정 */
    .spaPro_info {
        padding: 0 5.45454545%;
    }
    /* 속성값 수정 */
    .spaPro_title_text h2 {
        margin: 1em 0;
        font-size: 3em;
    }
    /* 속성 추가 */
    .spaPro_guide article {
        align-items: center;
    }
    /* 속성값 수정 */
    .spaPro_guide article .spaPro_text {
        padding-left: 4.25531915%;
    }
    /* 속성값 수정 */
    article .spaPro_text h2 {
        font-size: 2em;
    }
    /* 속성값 수정 */
    article .spaPro_text p {
        font-size: 1.5em;
    }
    /* 속성값 수정 */
    .spaPro_info .spa_alert {
        font-size: 1.5em;
    }
}
