@charset "utf-8";

.gift_outro {
    margin-top: 9.0666666667%;
    cursor: default;
}
.outro_img img {
    width: 100%;
}

/* 태블릿 미디어 쿼리 768px 이상 */
@media screen and (min-width:768px){
    .gift_outro {
        margin-top: 11.09375%;
    }
    .outro_img img {
        max-width: 100%;
    }
}