@charset "utf-8";.swiper-slide img

/* 슬라이드 css */
.main_slide_sections .swiper {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
  }

.main_slide_sections .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_slide_sections .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

/* 텍스트 애니메이션 */
.slide_text_wrap {
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(20px);
    white-space: nowrap;
    z-index: 10;
    /* 기본적으로 아래로 숨겨진 상태로 시작하도록 설정 */
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: center;
    line-height: 1.5;
}
.slide_text_wrap p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -.025em;
    color: #fff;
    text-shadow: 1px 1px 6px #666;
    animation: textFloat 1.3s cubic-bezier(.4,0,.2,1) both;
    animation-delay: .3s;
}
.slide_text_wrap h2 {
    font-size: 24px;
    padding: 16px 0 0;
    color: white;
    font-weight: 500;
    letter-spacing: -.025em;
    text-shadow: 0 0 3px hsla(0deg,0%,40%,.994);
    animation: textFloat 1.3s cubic-bezier(.4,0,.2,1) both;
    animation-delay: .5s;
}
.slide_text_wrap h2 span {
    font-weight: 600;
}

/* 글자 떠오르기 애니메이션 적용 */
@keyframes textFloat {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
/* 슬라이드가 활성화되었을 때 애니메이션 적용 */
.main_slide_sections .swiper-slide-active .slide_text_wrap {
    opacity: 1;
    transform: translateY(0);
}

/* 프로그레스바 */
.pagination_container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin-bottom: 25px;
}
.pagination_container_inner {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
}
.progressbar {
    width: 83.33333% !important;
    position :relative;
}

/* 프로그레스바 색상 */
.pagination_container .swiper-pagination-progressbar-fill {
    background-color: white !important;
}
/* 프로그레스바 두께 */
.main_slide_sections .pagination_container .swiper-pagination-progressbar {
    height: 3px !important;
    margin-top: 6px;
    background: rgba(255,255,255,0.3);
}

/* 슬라이드 재생/멈춤 */
.main_slide_sections .swiper .pause {
    width: 13px;
    height: 13px;
    z-index: 30;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .main_slide_sections .swiper .pause > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 3.5px solid #fff;
    border-right: 3.5px solid #fff;
}
  
  /* 추가된 스타일 */
  .main_slide_sections .swiper .pause.active > span {
    border-left: 10px solid #fff;
    border-right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }

  /* 추가된 스타일 */
  .main_slide_sections .swiper .play.active > span {
    border-left: 10px solid #fff;
    border-right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

.pc_swiper_prev {
    display: none;
}
.pc_swiper_next {
    display: none;
}

/* 태블릿 미디어 쿼리 768px 이상 */
@media screen and (min-width:768px){
    /* 프로그레스바 */
    .main_slide_sections .pagination_container {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        margin-bottom: 5.46875%;
    }
    .main_slide_sections .pagination_container_inner {
        display: flex;
        align-items: center;
        gap: 12px;
        max-width: 1440px;
        /* center -> flex-start */
        justify-content: flex-start;
    }
    .progressbar {
        width: 300px !important;
        position :relative;
        margin-left: 7.2265625%;
    }
    
    /* 슬라이드 재생/멈춤 아이콘 크기 수정 */
    .main_slide_sections .swiper .play > span {
        border-left: 7px solid #fff;
        border-right: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }

    /* 텍스트 애니메이션 */
    .slide_text_wrap {
        /* 수정 */  
        top: 50%;
        /* 추가 */
        left: 0;
        /* 수정 */        
        text-align: left;
        /* 추가 */
        padding-left: 7.2265625%;
    }
    /* 슬라이드 이전/다음 버튼 */
    .main_slide_sections .swiper-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(255,255,255,.4);
        cursor: pointer;
    }
    .pc_swiper_prev {
        display: block;
        position: absolute;
        left: 0;
        background: url('../../images/main/icon/swiper_arrow_prev.png') rgba(255,255,255,.4) no-repeat center;
        background-size: 50px 50px;
    }
    .pc_swiper_next {
        display: block;
        position: absolute;
        right: 0;
        background: url('../../images/main/icon/swiper_arrow_next.png') rgba(255,255,255,.4) no-repeat center;
        background-size: 50px 50px;
    }
}

/* PC 미디어 쿼리 1024px 이상 */
@media screen and (min-width:1024px){
    /* ===================== Swiper ====================== */
    /* 텍스트 애니메이션 */
    .slide_text_wrap {
        top: 50%;
        left: 0;
        text-align: left;
        padding-top: 4%;
        padding-left: 13.2265625%;
    }
    .slide_text_wrap p {
        font-size: 18px;
        text-shadow: 1px 1px 6px rgba(102,102,102,.9019607843);
    }
    .slide_text_wrap h2 {
        font-size: 36px;
        padding: 13px 0 10.15625%;
        text-shadow: 1px 1px 6px rgba(102,102,102,.9019607843);
    }

    /* 프로그레스바 */
    .pagination_container {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        margin-bottom: 5.46875%;
    }
    .pagination_container_inner {
        display: flex;
        align-items: center;
        gap: 12px;
        max-width: 1440px;
        margin: 0 auto;
        /* center -> flex-start */
        justify-content: flex-start;
        margin-left: 12.2265625%;
    }
    .progressbar {
        width: 416px !important;
        position: relative;
        margin-left: 1.2265625%;
    }

    /* 슬라이드 재생/멈춤 아이콘 크기 수정 */
    .main_slide_sections .swiper .play > span {
        border-left: 7px solid #fff;
        border-right: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }

    /* 프로그레스바 색상 */
    .pagination_container .swiper-pagination-progressbar-fill {
        background-color: white !important;
    }
    /* 프로그레스바 두께 */
    .pagination_container .swiper-pagination-progressbar {
        height: 3px !important;
        margin-top: 6px;
    }

    /* 슬라이드 이전/다음 버튼 */
    .main_slide_sections .swiper-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 68px !important;
        height: 68px !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(255,255,255,.4);
        cursor: pointer;
    }
    .pc_swiper_prev {
        display: block;
        position: absolute;
        left: 0;
        background: url('../../images/main/icon/swiper_arrow_prev.png') rgba(255,255,255,.4) no-repeat center;
        background-size: 80px 80px !important;
    }
    .pc_swiper_next {
        display: block;
        position: absolute;
        right: 0;
        background: url('../../images/main/icon/swiper_arrow_next.png') rgba(255,255,255,.4) no-repeat center;
        background-size: 80px 80px !important;
    }
}